.form {
  max-width: 500px;
}

.email-inp,
.password-inp {
  width: 100%;
  max-width: 300px;
}

.email-inp,
.password-inp {
  margin: 8px 0;
}

.error-message {
  color: red;
  margin-bottom: 8px;
}

.show-email-error,
.show-password-error {
  opacity: 1;
}

.hide-email-error,
.hide-password-error {
  opacity: 0;
}
