$navBarHeight: 30px;
$content-margin-x: 16px;

.nav-bar {
  width: 100%;
  height: $navBarHeight;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #465649;
  padding: 0 8px;
}

.not-full-height,
.full-height {
  width: calc(100% - 2 * $content-margin-x);
  margin: 0px $content-margin-x;
}

.not-full-height {
  height: calc(100% - $navBarHeight);
}

.full-height {
  height: 100%;
}

.button {
  margin-top: 8px;
}
